[2015-11-20 10:57] sboulema opened #1 "Improve credential support"
When pressing Cancel in the credential dialog the operation should be cancelled.

When pressing OK in the credential dialog the operation should continue

[2015-11-20 10:59] sboulema opened #2 "GitHubFlow support"
Add GitHubFlow features

[2015-11-20 10:59] sboulema opened #3 "Sync icon not showing"

[2015-11-20 11:00] #2 closed, assigned to nobody

[2015-11-20 11:45] #1 closed, assigned to nobody

[2015-11-20 11:53] #3 closed, assigned to nobody

[2015-11-20 11:54] sboulema opened #4 "Consistency in ellipsis usage in menus"
Check what the guideline is and adhere to it

[2015-11-20 11:55] sboulema opened #5 "Use new octicons"
Use new octicons: https://octicons.github.com/

[2015-11-20 12:04] sboulema commented on #4
Guidelines: https://msdn.microsoft.com/en-us/library/windows/desktop/dn742392(v=vs.85).aspx

[2015-11-20 12:07] #4 closed, assigned to nobody

[2015-11-20 12:21] sboulema opened #6 "Finish feature/hotfix/release only available when on correct branch"
Only enable the menu items when the make sense

[2015-11-20 14:46] #5 closed, assigned to nobody

[2015-11-20 14:46] sboulema opened #7 "Add fetch icon"
Find matching icon in octicons

[2015-11-20 14:47] sboulema opened #8 "Add stash icons"
Find matching icons in octicons for creating and applying a stash

[2015-11-20 15:11] #6 closed, assigned to nobody

[2015-11-20 15:28] #8 closed, assigned to nobody

[2015-11-20 15:28] #7 closed, assigned to nobody

[2016-02-16 11:10] sboulema opened #9 "Diff with previous version could not determine the last committed revision"

[2016-02-16 11:12] #9 closed, assigned to nobody

[2016-04-12 09:58] sboulema opened #10 "Add TGIT context menu to all editor windows"
Currently the TGIT context menu does not show up for non-code editor windows (.html, .css, etc.)

https://blogs.msdn.microsoft.com/dr._ex/2007/04/17/using-enablevsiplogging-to-identify-menus-and-commands-with-vs-2005-sp1/

[2016-04-12 10:27] #10 closed, assigned to nobody

[2016-07-26 08:46] GreenKn1ght opened #11 "SSH auth. Can't start new feature. Git flow."
At pull stage it said that can't read from remote repo, but i can do it from tortoisegit client. SSH auth. Also successfully started new feature from SourceTree.

[2016-07-26 09:17] sboulema commented on #11
Are you able to pull from the command line?

[2016-07-26 09:30] GreenKn1ght commented on #11
Erm. Same message from git bash.

[code]

But i cloned it with loading ppk. And putty auth agent working now =/

[2016-07-27 10:00] sboulema commented on #11
TGIT doesn't do anything with credentials and just assumes the repo is correctly setup. If you can pull from git bash the gitflow feature will also work :)

[2016-08-05 09:04] GreenKn1ght commented on #11
Could you enhance it? I can pull from TortoiseGit, SourceTree and another not really famous client. Also last client showed me it:
![default](https://cloud.githubusercontent.com/assets/19373816/17431284/ec575f18-5b01-11e6-9290-4b36db7fb922.PNG)
I have no idea why i can't pull from Git Bash, but if i can from clients...

[2016-08-05 09:17] sboulema commented on #11
Will look into it :)

[2016-08-05 12:12] sboulema commented on #11
Can you please try this new version?

[TGIT_3.4.1.zip](https://github.com/sboulema/TGIT/files/403700/TGIT_3.4.1.zip)

What it does:
- read the keyfile location from the remote.origin.puttykeyfile config
- start pageant with the keyfile
- get the path to TortoiseGitPlink from the registry
- for all flow operations in TGIT (temporarily) set GIT_SSH to the TortoiseGitPlink path

Uses stuff already pa

[2016-08-05 20:27] ygoe opened #12 "High DPI icons"
Visual Studio now has high resolution icons, TGIT might also do that.

[2016-08-05 20:29] ygoe opened #13 "Git is named "Git""
Not "GIT" and not "git". This is used inconsistently in the project website, UI and other places. It looks strange. I guess the "correct" abbreviation of TortoiseGit would be TGit, and so should be the menu in Visual Studio, as well as the name of this extension. (And this GitHub repository…)

[2016-08-05 20:31] ygoe opened #14 "Extension info links are broken"
When this extension is installed in Visual Studio, the links "Notes about this version" and "More information" in the "Extensions and updates" dialog are broken. The first one shows a dialog window with an empty TextBox. The second points to a non-existent VS Gallery page. I guess some package metadata needs to be updated.

[2016-08-05 20:37] ygoe opened #15 "Commit message starts with branch name"
When opening the commit dialog, the commit message isn't empty but is preset with the branch name ("master" in my case). Is that intentional? What is it good for? The branch name is already displayed just above in the dialog.

[2016-08-08 07:47] sboulema commented on #13
Good observation! The small details also matter :) Rename will be in the next release.

[2016-08-08 07:47] #13 closed, assigned to sboulema

[2016-08-08 07:55] sboulema commented on #14
Links are fixed in the next release!

[2016-08-08 07:55] #14 closed, assigned to sboulema

[2016-08-08 08:09] sboulema commented on #15
You can change the default commit message using Tools -> Options -> TGit -> General -> Default commit message.

Next version will have an empty default commit message by default.

[2016-08-08 08:09] #15 closed, assigned to sboulema

[2016-08-08 08:15] sboulema commented on #12
Info about High DPI icons: [Image Service and Catalog](https://msdn.microsoft.com/en-US/library/mt628927.aspx?f=255&MSPPError=-2147217396)
Examples: [VSSDK-Extensibility-Samples](https://github.com/Microsoft/VSSDK-Extensibility-Samples)
Icons: [Octoicons](https://octicons.github.com/), [Octoicons svg->png](http://fa2png.io/r/octicons/), [svg->xaml](https://github.com/BerndK/SvgToXaml)

[2016-08-09 07:23] GreenKn1ght commented on #11
3.4.1 succefully created new feature branch. Work as expected:)

[2016-08-09 07:32] sboulema commented on #11
Great to hear! Thanks for testing :)

[2016-08-09 07:32] #11 closed, assigned to sboulema

[2016-08-09 13:23] sboulema opened #16 "Option for CloseOnEnd"
Make the closeonend configurable, right now it is always 0.

/closeonend:0 Close manually
/closeonend:1 Auto-close if no further options are available
/closeonend:2 Auto-close if no errors

[2016-08-09 14:12] #16 closed, assigned to sboulema

[2016-08-09 14:32] #12 closed, assigned to sboulema

[2016-08-10 15:34] GreenKn1ght opened #17 "TGit shows me only GitHubFlow."
3.5 version. GitFlow initiated from SourceTree, and i can start feature, finish feature etc.
SourceTree (yeah, russian words, but you can belive me, it says GitFlow is OK):
![default](https://cloud.githubusercontent.com/assets/19373816/17559925/b611163a-5f28-11e6-961c-99b629aae968.png)

But TGit showed me:
![default](https://cloud.githubusercontent.com/assets/19373816/17560048/3daeb50c-5f29-11e6-8

[2016-08-11 07:22] sboulema commented on #17
TGit looks at Tools -> Options -> TGit -> Flow master and development branch option. If the master and development branch exist remotely it will show GitFlow, if there is a master branch and no development branch it will show GitHubFlow.

Will fix and look at the gitflow settings of the repo.

Is this a SSH or HTTP repo?

[2016-08-11 09:04] sboulema commented on #17
Could you please try this version: [TGit_3.5.1.zip](https://github.com/sboulema/TGit/files/412830/TGit_3.5.1.zip)

It uses the git config to determine which flow is used and it has a GitFlow Init option to set the configs

[2016-08-11 21:25] GreenKn1ght commented on #17
Got it, my develop branch named "devel", I must rename it or just change name in TGit config.
SSH repo.

About 3.5.1:
After instal it showed GitHubFlow and GitFlow.
GitFlow -> Init created (ignoring some warning (below)) new branch "develop" from master and yes, now i can use GitFlow. But i suppose TGit should just use git config, not create new branch.

`warning: unable to rmdir *here submodule p

[2016-08-11 21:47] GreenKn1ght commented on #17
After Init i tried change TGit config -> Flow -> develop branch name, and changes are not applied. Then i restart VS and after loading TGit extenstion was disabled O_o. And i think now i have TGit 3.5, because in config develop branch name is "develop" and TGit show me only GitHubFlow (like before 3.5.1).

[2016-08-12 09:31] sboulema commented on #17
Could you please try this version: [TGit_3.5.2.zip](https://github.com/sboulema/TGit/files/414996/TGit_3.5.2.zip)

This version does away with the TGit flow options and only uses the git config.

[2016-08-15 09:01] GreenKn1ght commented on #17
For repo with Git flow detected succefully.

[2016-08-15 09:05] GreenKn1ght opened #18 "Trying to finish feature"
[code]

So, in my case submodule changed without creating new branch and now with head on devel.
Expected simple behaviour: TGit just merge main repo without submodules.
Expected extended behaviour: TGit gives me a choose a submodules to merge or only if my submodule head on feature/.., shows me error (or choice) ("Your submodule stand on feature branch, pls merge it").

[2016-08-15 09:20] #17 closed, assigned to sboulema

[2016-08-15 09:33] sboulema commented on #18
It looks like it is not handling spaces in branch names correctly

[2016-08-15 09:49] sboulema commented on #18
How did you create the branch?

Please try this: switch to the branch and then execute 'git symbolic-ref -q --short HEAD', what is the output?

[2016-08-15 11:40] GreenKn1ght commented on #18
[code]

It's correct name.
I do not remember exactly how I created the branch, but it was either TGit or SourceTree with GitFlow.

[2016-08-15 12:23] sboulema commented on #18
Found it, will be fixed in the next version

[2016-08-15 12:33] GreenKn1ght commented on #18
Thank you!

[2016-08-15 15:05] #18 closed, assigned to sboulema

[2016-08-16 08:36] GreenKn1ght opened #19 "TGit menu -> GitFlow and GitHubFlow enabled on start page."

[2016-08-16 08:42] GreenKn1ght opened #20 "GitFlow init."
[code]

Reseting devel branch and push it seems to be incorrect. I think TGit shouldn't change brach, if it existed. And push by default not expected for me.

[2016-08-16 08:44] GreenKn1ght opened #21 "As user i want optionally remove local feature branch after finishing it."
I hope I did not bring you the inconvenience with all my issues :)

[2016-08-16 09:00] ryo1988 opened #22 "VisualStudio will freeze at frequently."
VisualStudio will freeze at frequently.
v3.6
VS2015
git for windows 2.9.3
TortoiseGit 2.2.0.0

[2016-08-16 10:36] GreenKn1ght commented on #22
Have you tried disable TGit?

[2016-08-16 10:58] sboulema commented on #19
Will be fixed in the next release!

[2016-08-16 10:58] #19 closed, assigned to sboulema

[2016-08-16 11:12] sboulema commented on #20
Will be fixed in the next version!

[2016-08-16 11:12] #20 closed, assigned to sboulema

[2016-08-16 11:13] sboulema commented on #21
On the contrary! I like all the good ideas and testing TGit is now getting :D

[2016-08-16 14:04] ryo1988 commented on #22
Yes. I tried.

[2016-08-16 14:11] ryo1988 commented on #22
Non freeze, After disabling TGIT.

[2016-08-16 14:15] sboulema commented on #22
Can you please describe what you mean with freezes. While using TGit functions, during startup, during saving, etc...

[2016-08-16 14:58] ryo1988 commented on #22
TGIT only have enabled, even if they are not used at all, overall very performance is deteriorated, and then freeze, such as during code editing.

[2016-08-16 14:59] sboulema commented on #22
Looking into it, can confirm that something is not performing well.

[2016-08-16 15:10] ryo1988 commented on #22
In v3.5 there was no problem.

[2016-08-17 12:23] GreenKn1ght opened #23 "As a user I want to manage the submodules from TGit."
So, i wanna add and update submodules. Also if it possible i wanna checkout, commits, etc (all existing operations).

This is a huge task, so if you decide to implement it, I can split task into few parts.

[2016-08-17 12:32] sboulema commented on #23
You can do this through the sync option... it shows a TortoiseGit dialog with submodule control.
I am trying to avoid re-inventing the wheel, as in if TortoiseGit can do it use that, that is why the flow operations are custom built.

[2016-08-17 12:37] GreenKn1ght commented on #23
Ok, thanks for info, I will use it, but still no way to others operations.

Biggest problem for me: when i changed submodule from main solution, i can't commit changes for it.
I can call Commit to solution and if it have changes, when i press to Commit button Tortoise will say me "Submodule dirty" and suggest Commit submodule. But submodule's head after cloning stays on commit, not on branch, so i

[2016-08-17 14:11] GreenKn1ght opened #24 "Add an indication that the repository is dirty."
Something like this
![default](https://cloud.githubusercontent.com/assets/19373816/17739408/a803455c-649d-11e6-8918-46fa43a074b9.PNG)

It would be nice. If it possible, of course (something tells me that it's impossible).

[2016-08-17 15:12] sboulema commented on #24
Was thinking about this myself also. Am I correct in assuming that the number would the number of commits your local branch is behind the remote branch?

Will look into after I have fixed #22

[2016-08-17 15:16] GreenKn1ght commented on #24
I'm thinking about number of uncommitted files, but your idea nice too.

[2016-08-18 13:16] GreenKn1ght opened #25 "Unclickable link in Tools -> Options..."
-> TGit -> Default commit message.

In the best case, the text should be allocated.

[2016-08-18 13:20] GreenKn1ght commented on #24
Only now I noticed that git extenstion for VS shows both numbers.
![234](https://cloud.githubusercontent.com/assets/19373816/17775180/bacf6bc6-655f-11e6-8520-0d52d4631b69.PNG)

[2016-08-18 13:34] sboulema commented on #24
Oh duh completely forgot about that. In that case I wouldn't want to recreate that functionality I guess

[2016-08-18 13:34] #24 closed, assigned to sboulema

[2016-08-18 13:40] sboulema commented on #25
Would have to do a custom options page, would be nicer anyway...

What do you mean with allocated?

[2016-08-18 16:45] GreenKn1ght commented on #25
Erm. "Selectable". I wanna select part of text ($FeatureName, for example) from description.

[2016-08-22 07:24] sboulema commented on #22
Should be better with the 3.7 release!

[2016-08-22 07:24] #22 closed, assigned to sboulema

[2016-08-22 07:24] sboulema commented on #21
Added to the 3.7 release :)

[2016-08-22 07:24] #21 closed, assigned to sboulema

[2016-08-22 10:33] pertheli opened #26 "Clicking on [TGit] menu of the main menu takes about 4 seconds to open the menu"
Is there any way to make the menu open faster?
Opening the context menu doesn't take time though.

VS 2015 Update 2
TGit V 3.7, 3.6

[2016-08-22 10:42] sboulema commented on #26
It is doing a lot of checks, which menu items should be visible/enabled. Trying to speed it up for a while now, but it is proving quite difficult. Will look into it some more!

[2016-08-22 11:27] sboulema commented on #26
Can you please try if this version is faster?
[TGit_3.7.1.zip](https://github.com/sboulema/TGit/files/429961/TGit_3.7.1.zip)

[2016-08-23 01:02] pertheli commented on #26
Thanks, the new version seems faster, but still there is about about 2 maybe 3 seconds lag.

Strangely, once the menu is opened, and if i do not execute/select any menu item, then the menu opens instantly. But after executing any menu item(of TGit or of other menu) then reopening the TGit menu is taking time.

[2016-08-23 13:27] sboulema commented on #25
[Creating a Tools Options Custom Page](https://msdn.microsoft.com/en-us/library/bb166195.aspx#Anchor_1)

[2016-08-23 15:20] sboulema commented on #26
Can you please try this version: [TGit_3.7.3.zip](https://github.com/sboulema/TGit/files/432820/TGit_3.7.3.zip)

[2016-08-24 01:53] ryo1988 commented on #22
thanks!

[2016-08-25 08:17] GreenKn1ght opened #27 "After GitFlow -> Init in "GitFlow" available only "Init" until restart VS."
I tried Init several times and each time was required to restart Visual Studio to gain access to the functions of GitFlow.

[2016-08-25 08:37] sboulema commented on #27
Please try this version:
[TGit_3.7.4.zip](https://github.com/sboulema/TGit/files/436493/TGit_3.7.4.zip)

[2016-08-26 00:42] pertheli commented on #26
Thanks. The menu opens instantly now!

[2016-08-26 00:50] pertheli opened #28 "Please add "Browse References" menu"
It would be nice if you could add the "Browse References" menu.
Also if possible, "Submodule Update..."

[2016-08-26 07:41] #26 closed, assigned to sboulema

[2016-08-26 09:28] sboulema commented on #28
"Browse References" will be added in the next version!

"Submodule Update" can be done through the "Sync" option, Is that good enough? I understand it is a mouse click more but the main menu is getting really crowded :p

[2016-08-26 14:01] GreenKn1ght commented on #27
Tried 3.8, bug still exists.
3.7.4 includes changes that are not in 3.8?

[2016-08-26 14:10] GreenKn1ght opened #29 "Add option "push after finish feature""
Auto merge sometimes can to surprise, you know (someone deleted resources wich u used in your feature branch, for Git it's ok, but not for compiler :)).
After merge and before pushing to remote i prefer rebuild solution, start tests and may be check in runtime by myself.

[2016-08-26 14:12] GreenKn1ght commented on #23
What about this issue? Won't do?

[2016-08-26 14:15] sboulema commented on #27
Weird 3.8 has the 3.7.4 changes included. Will look into it some more

[2016-08-26 14:16] sboulema commented on #23
Still trying to come up with a good way to do this, reopening :)

[2016-08-26 14:17] sboulema commented on #28
"Browse References" is available in 3.8

Keep an eye out for #23 for the submodule features

[2016-08-26 14:17] #28 closed, assigned to sboulema

[2016-08-26 15:27] sboulema commented on #29
Option added in upcoming 3.9 release, you can test it with this 3.8.1 build:
[TGit_3.8.1.zip](https://github.com/sboulema/TGit/files/439579/TGit_3.8.1.zip)

[2016-08-26 15:28] sboulema commented on #27
Please try this version [TGit_3.8.1.zip](https://github.com/sboulema/TGit/files/439579/TGit_3.8.1.zip)

[2016-08-29 08:48] GreenKn1ght commented on #27
3.8.1 works fine.

[2016-08-29 08:54] sboulema commented on #27
Awesome :D

[2016-08-29 08:54] #27 closed, assigned to sboulema

[2016-08-30 08:42] #29 closed, assigned to sboulema

[2017-06-01 13:58] elmanav opened #30 "Tag version prefix"
Is it possible to specify the prefix of the tag to the version of the GitFlow, for example, "v1.12.34"?
Thanks.

[2017-06-01 15:16] sboulema commented on #30
Support for the git config gitflow.prefix.versiontag has been added :)

[2017-06-02 06:44] elmanav commented on #30
Very quickly. Nice.

[2017-06-02 07:12] #30 closed, assigned to sboulema

[2017-06-07 10:00] elmanav opened #31 "Try release finish with push changes"
When I finish the release and try push changes to the remote repository (check Push changes in dialog), I get an error:
[code]
What is **git push origin 0.1.0**?
Am I doing something wrong?
Thanks.

[2017-06-07 10:03] elmanav commented on #31
Probably, there should be **git push origin v0.1.0**.
I have [gitflow "prefix"] versiontag = v

[2017-06-07 10:23] sboulema commented on #31
Yup I made a mistake :(
Will fix :D

[2017-06-07 10:26] #31 closed, assigned to sboulema

[2017-06-08 05:54] GreenKn1ght opened #32 "TGit->Commit replaces the merge message generated by Git."

[2017-06-08 06:27] elmanav commented on #31
Very fast. Nice.

[2017-06-08 13:32] sboulema commented on #32
Check the new 4.4 release!

An empty default commit message will not replace the merge message anymore.
Added support for TortoiseGit's BugTraq so you can configure a default bug id so using TGIT will still prepend/append the commit message

[2017-06-08 16:06] GreenKn1ght commented on #32
What if I use not empty default commit message? In most cases I want use specified template, but after merge I want commit with default Git's commit message. Git generates message like this (which I can see if I call Git Commit from explorer):

[code]
TGit -> Commit will replace it to my Default commit message.

[2017-06-21 03:38] pertheli opened #33 "File related commands in [Add Command]->[Commands] list"
Can you please add file related commands such as blame, show differences in the [Add Command]->[Commands] list

![image](https://user-images.githubusercontent.com/21078592/27365914-ce9ea67a-567d-11e7-8553-a7ef6b1fbe33.png)

[2017-06-21 08:25] sboulema commented on #33
File related commands are now available, as well as a TGit toolbar :)

[2017-06-21 08:25] #33 closed, assigned to sboulema

[2017-06-22 14:55] sboulema commented on #32
Not sure yet on how to accomplish this...

TortoiseGit isnt playing nice with git hooks: https://gitlab.com/tortoisegit/tortoisegit/issues/1091

[2017-06-28 15:41] GreenKn1ght opened #34 "Features in TGit -> TGit doesn't work when is no active document`s tab."
When i try to use features from TGit -> TGit occurs an error "Object reference not set to an instance of an object". It's not happen if there is active document`s tab.

![1](https://user-images.githubusercontent.com/19373816/27646173-a058792c-5c30-11e7-8789-9f337b8f3b40.png)
![2](https://user-images.githubusercontent.com/19373816/27646172-a0576672-5c30-11e7-97c9-29a88863f9b1.png)

[2017-06-29 09:11] sboulema commented on #34
All those menu items are file specific operations and can not work without an active document. The new release 4.7 now correctly disables those items when no file is opened

[2017-06-29 09:11] #34 closed, assigned to sboulema

[2017-11-08 04:25] refactor2 opened #35 "Please add "Git Create Tag""
Please add "Git Create Tag"

[2017-11-09 15:56] sboulema commented on #35
Thanks for the suggestion. Create Tag has been added in the new release

[2017-11-09 15:56] #35 closed, assigned to sboulema

[2017-11-17 06:15] jin925 opened #37 "can not use in vs2013"
在我配置tgit的时候发生了错误，并功能不可用，我已经按照说明安装了相关的软件

When I configured TGIT, there was an error and the function was unavailable. I had installed the relevant software according to the instructions。
![image](https://user-images.githubusercontent.com/5148826/32932314-d1aa2a02-cba2-11e7-9a10-8c0090c91352.png)

[2017-11-17 10:59] sboulema commented on #37
I am unable to reproduce this. I get the option dialog after installing TGit.

Maybe try reinstalling the extension? Maybe try a fresh/new visual studio profile?

[2017-11-27 12:30] refactor2 commented on #35
Thanks

[2017-11-30 15:23] MartinL0815 opened #38 "command "names" in keyboard customization are not unique"
Sincerely, the names of the commands listed in the keyboard customization starting with `TGIT.` are not unique.
If I want to assign a shortcut to "TGit.ShowLog", than I don't know if I assign for the "global" or the document related "Show Log" command.
Same for all commands, that exist doubled "global" and document related.

Any chance for an enhancement to ease the assignment of keyboard shortcut

[2017-12-01 10:12] sboulema commented on #38
Thanks for the very good suggestion, these small enhancements also count!

The newly released version has unique command names.
Any previously set keyboard shortcuts will be preserved.

[2017-12-01 10:20] #37 closed, assigned to sboulema

[2018-02-14 12:21] KocourKuba opened #39 "TGitPackage package for VS2013 has a dependency on VS2015 shell assembly"
No 2015 VS installed on this computer. Only VS2013

  <entry>
    <record>56</record>
    <time>2018/02/14 09:55:03.665</time>
    <type>Information</type>
    <source>VisualStudio</source>
    <description>Begin package load [TGitPackage]</description>
    <guid>{6C58D6E5-11BA-43BA-9A63-A624F264EC06}</guid>
  </entry>
  <entry>
    <record>57</record>
    <time>2018/02/14 09:55:03.681</time>

[2018-02-15 10:42] #38 closed, assigned to sboulema

[2018-02-23 09:27] sboulema commented on #39
Please try the new release!

[2018-02-23 13:27] KocourKuba commented on #39
Thanks! Installed and run without problem.

[2018-02-23 13:27] #39 closed, assigned to sboulema

[2018-04-17 15:39] sboulema opened #41 "Abort merge option"
When in merge, show an option to abort the merge.

https://stackoverflow.com/questions/29101270/how-to-know-if-a-merge-is-ongoing-in-git

![Abort merge](https://i.imgur.com/SkuO8ey.png)

[2018-04-18 10:34] #41 closed, assigned to sboulema

[2018-06-18 21:42] rlister302 opened #42 "Visual studio runs very slowly with latest versions of TGit"
I noticed a slowdown in Visual Studio when I have TGit version 4.8.28 or later. When I revert back to 4.8.27 everything seems to go back to normal. I'm running Visual Studio 2017 15.7.3.

[2018-06-19 12:14] danfecteau commented on #42
I have the exact same problem (TGit 4.8.31 and VS2017 15.7.4).

[2018-06-19 12:21] sboulema commented on #42
Shame to hear the drop in performance :(
Also noticed it myself...

Please try this new release and let me know if it is back to old performance levels again: https://github.com/sboulema/TGit/releases/tag/v4.8.32

[2018-06-19 13:02] rlister302 commented on #42
Will do! Thanks for getting to it so quickly!

[2018-06-19 13:13] danfecteau commented on #42
I tried it during ±10 minutes and it works fine on my side. Thank you for the quick fix!

[2018-06-19 13:14] rlister302 commented on #42
Looks like that resolved the problem. Thanks a bunch!

[2018-06-19 13:14] #42 closed, assigned to sboulema

[2018-06-21 08:55] KocourKuba opened #43 "VS 2013 performance degrade since 4.8.28"
Unfortunately, 4.8.32 still have a problem. Disabling TGIT or install 4.8.27 eliminate freezes.

[2018-06-21 09:14] sboulema commented on #43
Will take another look! VS 2013 uses a different initialization than VS 2015 and VS 2017, that might cause the slowdown still appearing in VS2013...

[2018-06-21 14:57] sboulema commented on #43
Can you please try this one: https://github.com/sboulema/TGit/releases/tag/v4.8.35

[2018-06-22 09:41] KocourKuba commented on #43
Yes. Issue fixed. Thanks!

[2018-06-22 09:42] #43 closed, assigned to sboulema

[2018-06-22 09:46] KocourKuba opened #45 "Feature request. git svn support"
Could you please add "git svn" commands support? DCommit, Rebase and Fetch?

[2018-06-22 10:38] sboulema commented on #45
Will look into adding git svn support!

TortoiseGit Commands:
DCommit: /command:svndcommit /path:""
Rebase: /command:svnrebase /path:""
Fetch: /command:svnfetch /path:""

Gitconfig:
svn-remote.svn.url=
svn-remote.svn.fetch=
svn-remote.svn.branches=
svn-remote.svn.tags=

[2018-06-22 14:48] sboulema commented on #45
Please try this new release: https://github.com/sboulema/TGit/releases/tag/v4.9.36

[2018-06-22 15:18] KocourKuba commented on #45
Thanks for fast response. I'm trying this build next week ;) I use mixed git svn environment at work ;)

[2018-06-25 18:04] KocourKuba commented on #45
Works fine. Thanks!

[2018-06-26 09:20] #45 closed, assigned to sboulema

[2018-08-04 09:56] ygoe commented on #13
@sboulema Shouldn't this also be changed in [TGIT.vsct](https://github.com/sboulema/TGit/blob/master/TGit/TGIT.vsct#L14) (4 occurrences)? I see the main menu entry "TGIT" while Visual Studio 2017 is loading. When loading is done, the label changes to "TGit" which probably comes from the then running extension code.

[2018-08-09 07:58] sboulema commented on #13
Renamed in the next release!

[2018-08-14 18:27] ygoe commented on #13
Thank you!

[2018-09-07 09:50] ygoe opened #46 "All hotkeys unreachable"
TGit has keyboard shortcuts for many of its menu commands. All of them look like Ctrl+G, Ctrl+_. Unfortunately, Ctrl+G is already used for "Go to line", and has always been since I can remember. So another prefix for these commands is needed. Sure I can customise them all, but that's a lot of work and the defaults should at least work with the Visual Studio defaults.

[2018-09-07 12:20] sboulema commented on #46
Very good point. I like the shortcuts to be that way, but for a default it is a bit invasive.

Get the new release!
https://github.com/sboulema/TGit/releases/tag/v4.9.40

[2018-09-14 10:07] #46 closed, assigned to sboulema

[2018-09-20 06:28] prasunbanik opened #47 "The extension manifest is invalid"
Hi,
I am trying to install the extension for Visual Studio 2017 Professional Edition. But it says that "The extension manifest is invalid". Is there any way I can install this extension for VS 2017 Professional Edition. It worked fine with VS 2015 Professional Edition.

Thanks Prasun

[2018-09-20 07:24] sboulema commented on #47
Hey, that is weird... The extension does support VS2017 Pro. I have VS2015 Pro and VS2017 Enterprise installed on my current machine and installation works. Will try to see if I can reproduce it on VS2017 Pro.

[2018-09-20 09:29] GreenKn1ght commented on #47
I tried to reproduce this issue with VS2017 Pro 15.8.4 and TGit 4.9.40. Uninstallation and installation completed successfully.

[2018-09-20 09:31] sboulema commented on #47
Thanks for testing @GreenKn1ght !

@prasunbanik : Maybe try to redownload the vsix file?

[2018-09-20 10:08] prasunbanik commented on #47
Hi Samir,

I freshly downloaded the vsix installer file and tried to install the same.
While doing so, I got this error
[image: image.png]

I also tried to install it from the VS Extension menu, then also I get an
error but this error is different. I have also attached the log file that
is generated during the installation for your reference.
[image: image.png]

--
Thanks and Regards
Prasun Banik

[2018-09-20 12:06] sboulema commented on #47
@prasunbarik images and log did not make it to the GitHub issue page. Can you please attach them?

[2018-09-25 15:35] prasunbanik commented on #47
Hi Samir,
Sorry for the late reply. Please find the images attached in the same order.

![image](https://user-images.githubusercontent.com/42652143/46025449-8deec480-c106-11e8-9b5a-8898d92b1de0.png)

![image](https://user-images.githubusercontent.com/42652143/46025430-84655c80-c106-11e8-877c-2473f4c6c80c.png)

[2018-09-26 07:10] sboulema commented on #47
Hey,

Especially the last screenshot indicates that it may be caused by a corrupted visual studio installation :(
Maybe try the steps in this thread:

https://social.msdn.microsoft.com/Forums/vstudio/en-US/6e88f10a-2890-405b-a3a0-cbc7a1031a8f/visual-studio-2017-extensions-and-update-quotcannot-find-setup-engine-instancequot?forum=visualstudiogeneral

[2018-11-13 22:09] #47 closed, assigned to sboulema

[2018-11-26 15:19] kahaeia1 opened #48 "Git rebase"
Can you please add a keyboard shortcut for **git rebase**? We use it all the time at our company and it's missing in TGit.

[2018-11-27 09:09] sboulema commented on #48
Added!

Grab the new release :)

[2018-11-29 18:46] KocourKuba opened #49 "Toolbar redraw issue."
Too often after start VS2017, TGIT toolbar does not draw properly.
http://prntscr.com/lona0i
After 'Reset Toolbar' all icons draw normally.
This problem occurs only with TGIT toolbar. All others drew without a problem.

[2018-11-29 21:15] #48 closed, assigned to sboulema

[2018-12-01 17:17] kahaeia1 commented on #48
Very nice! 👍

[2018-12-04 20:50] sboulema commented on #49
Unable to reproduce for now...

Looks like it fails/hangs on checking if there is an open vs solution under git revision and it it should enable or disable the buttons.
The 'Apply Stash' button is the only button not doing that check and that one is correctly shown.

How does the TGit menu look like when this happens?

[2018-12-04 21:13] KocourKuba commented on #49
Yes, looks like. Only 'Apply Stash' is visible. When I start VS and quick load solution, the toolbar does not redraw except one button 'Apply Stash'. Also, until VS not load all plugins and do own initialization (without load any project) the toolbar also not draws.

http://prntscr.com/lqr7vx
http://prntscr.com/lqr8ca
http://prntscr.com/lqr9k7

Possible this effect can be caused by long load plugi

[2018-12-05 13:17] sboulema commented on #49
I can reproduce it when opening a folder instead of a solution using Visual Studio 2019 Preview 1

But that is quite ok, since it clearly shows that it still needs to fully load the TGit extension:
![image](https://user-images.githubusercontent.com/1820661/49515834-5172de00-f898-11e8-8e25-027bdaa74040.png)

And when done loading all menu icons do appear automatically

[2018-12-12 18:30] KocourKuba commented on #49
If I start VS and wait until all plugins loaded - toolbar redraws.
If I start VS and load solution immediately - toolbar not redrawn (redraw only after 'Reset Toolbar' or closing solution)
The same if I open a solution from the explorer window.
http://prntscr.com/lu52a1

[2018-12-14 12:33] sboulema commented on #49
Please try this new build: https://github.com/sboulema/TGit/releases/tag/v4.10.50

[2018-12-14 14:17] KocourKuba commented on #49
Unfortunately, the issue still exists. And little worse as before.
I try to disable all extensions except TGIT, but it not help.
If I disable some extension, after restart VS, toolbar draws correctly.
If after this exit VS and start again, toolbar not redraw. Disabling/enabling menu item in 'Add/remove button' menu redraw only selected item. All others still not drawn.
Looks like VS 'cache' the st

[2018-12-14 14:21] KocourKuba opened #50 "Rebase button in VS2013 does not have icon"
VS2013
http://prntscr.com/luy6w4
http://prntscr.com/luy7nt

VS2017
http://prntscr.com/luy78x
http://prntscr.com/luy7vr

[2018-12-14 15:45] sboulema commented on #50
Should be fixed in the next release!

[2018-12-14 15:55] sboulema commented on #49
Argh this one seems to be quite difficult, too many differences between all the different VS versions, too many async/timing issues.

Last try before the weekend:
https://github.com/sboulema/TGit/releases/tag/v4.10.52

Please let me know if the Rebase button icon bug is also fixed :)

[2018-12-14 16:19] KocourKuba commented on #50
4.10.52 fix this issue. Thanks.

[2018-12-14 16:19] #50 closed, assigned to sboulema

[2018-12-14 16:30] KocourKuba commented on #49
No. It doesn't help.
https://www.dropbox.com/s/kzs97mufzkzirnn/bandicam%202018-12-14%2017-23-43-034.mp4?dl=0

[2018-12-17 01:59] shellduddu opened #51 "revision graph"
i need the revision graph command, i want to copy this project, but build error,
please help the children,thanks,thank ,thanks

[2018-12-17 09:50] sboulema commented on #51
`:revisiongraph`

https://tortoisegit.org/docs/tortoisegit/tgit-automation.html

[2018-12-17 12:59] sboulema commented on #51
Grab the new release!

[2018-12-17 16:09] sboulema commented on #49
Please try this release: https://github.com/sboulema/TGit/releases/tag/v4.10.54

[2018-12-18 17:12] KocourKuba commented on #49
http://prntscr.com/lwm07n

[2018-12-18 17:27] KocourKuba opened #52 "Serious performance degrade"
Last 2 versions cause serious performance degrade.
Every typing or selection in the text editor or even select control in the resource editor leads to call git.exe via cmd.

https://www.dropbox.com/s/3wpw2ub6ck3o16g/bandicam%202018-12-18%2018-20-37-580.mp4?dl=0

[2018-12-19 08:09] sboulema commented on #52
Caused by the changes done in #49 :(
Time to kill that feature branch and look for a new solution.
The latest public releases should not be affected by this performance problem

[2018-12-19 08:09] sboulema commented on #49
Time to throw away this feature branch and start looking for a new solution to the redraw issue :(

[2019-01-31 11:46] #52 closed, assigned to nobody

[2019-01-31 11:46] #51 closed, assigned to sboulema

[2019-02-11 22:49] YanumVlad opened #53 "GitFlow: Error during work with local branches only"
I play with addin with local branches only.
GitFlow's Start New Feature fails with:

Already on 'develop'

There is no tracking information for the current branch.
Please specify which branch you want to merge with.
See git-pull(1) for details.
    git pull <remote> <branch>
If you wish to set tracking information for this branch you can do so with:
    git branch --set-upstream-to=<remote>/<branc

[2019-02-12 10:05] sboulema commented on #53
Grab the new release!

Go to Tools -> Options -> TGit -> [] Pull changes

[2019-02-12 10:46] YanumVlad commented on #53
Glad to hear :))
Unfortunately, I tried to update extension via Visual Studio. Update even did not start: just 1-second show of download dialog and the subsequent closure...
Could you please take a look? :)

[2019-02-12 10:50] sboulema commented on #53
Try updating using the vsix file: https://github.com/sboulema/TGit/releases/download/v4.11.58/TGit_4.11.58.vsix

Download and open should start installation.

[2019-02-12 10:59] YanumVlad commented on #53
Great!!! Now it works. Thank you very much for so quick response!!

Just as a minor comment, I just noticed the next spelling issue in final line (Succes with sinlge S at the end):

Already on 'develop'

Switched to a new branch 'feature/Feature4'

Succes (365 ms @ 2/12/2019 1:55:43 PM)

It would be nice to fix as well, if you have time :)

[2019-02-12 11:20] sboulema commented on #53
Great to hear!

Wow that spelling issue has gone unnoticed since 2015...

Grab the new release! :rocket:

[2019-02-12 12:04] YanumVlad commented on #53
Excellent! Good job! Thanks!

[2019-02-12 12:04] #53 closed, assigned to sboulema

[2019-02-12 12:17] YanumVlad opened #54 "GitFlow: annotated tags for master branch (tag comments needed)"
Could you please support annotated tags in GitFlow's End Finish Release item?
For now, only tag itself is created with name of Release.
It would be nice to add comment to tag as well.
Possible usage - short description of release, deployment date, etc.

Thanks,
Vlad

[2019-02-13 10:25] sboulema commented on #54
Grab the new release 🚀

Tools -> Options -> TGit -> [] Use annotated tags

[2019-02-13 15:43] YanumVlad commented on #54
Thanks!!! It works now perfectly!
Now I can use your tool for full prod deployment without additional tools / manual steps. :)

The only very minor issue: there is a spelling error in Tools -> Options -> TGit -> [] -
 Use annotated tags:
When finishing a release use a[n] annotated tag.

[2019-02-13 15:45] sboulema commented on #54
Great to hear!

Will fix the spelling mistake... next time I'll just make my extensions in Dutch ;)

[2019-02-13 16:06] YanumVlad commented on #54
Samir, I just checked Finish Hotfix menu item as final testing (frogot about it in the beginning).
It does not raise tag message dialog.
Could you please add it as well? :)

These changes as connected and consistent: thus I did not created extra  issue...

[2019-02-13 16:34] sboulema commented on #54
You know the drill by now...

Grab the new release 🚀 ;)

[2019-02-13 16:47] YanumVlad commented on #54
Thank you very much!!!! :)

[2019-02-13 16:47] #54 closed, assigned to sboulema

[2019-03-14 10:35] YanumVlad opened #55 "Ability to reinit GitFlow on demand"
Hello,

Could you please tell how can I reinit GitFlow?
On first run I was able to use Init dialog to setup branches and prefixes?
For now, structure and prefixes are subject to change. However, I cannot reinit extension.
Remove / reinstall does not help.

Thanks,
Vlad

[2019-03-14 13:56] elmanav commented on #55
In the .git folder the file "config" (text content) contains all the information from the Init GitFlow dialog (gitflow prefix). It can be changed.

[2019-03-14 14:01] sboulema commented on #55
Busy adding a new menu options to trigger the UI again for easy editing!

[2019-03-15 10:08] sboulema commented on #55
Grab the new release! 🚀

[2019-04-12 10:21] YanumVlad opened #56 "Switch to master on GitFlow Finish Hotfix / Finish Release"
Hi,

I really like your extension. My team is using it heavily.
The next issue makes some trouble:
When we complete hotfix / release, we need to switch to master for final deployment.
It is a must: we need to ensure that master merge is 100% OK, and perform deployment from it.
Current behavior - switch to develop branch (what extension is doing) and then switch to master. (2 switch are in action).

[2019-04-17 09:28] sboulema commented on #56
Hey,

Would your problem be solved by using the GitHubFlow menu in TGit?

[2019-05-17 09:45] jwidar opened #57 "Where stash pop?"
I might be ignorant, but where is the stash pop equivalent in TGit?
I use _Create stash_ and there is _Apply stash_ but that's not the same thing as _Stash pop_, which is available both in regular git and TortoiseGit.

[2019-05-17 09:47] sboulema commented on #57
It is not you! That one is not yet implemented.

Will add it in a next release!

`:stashpop`

[2019-05-17 09:48] #55 closed, assigned to sboulema

[2019-05-17 11:25] sboulema commented on #57
Ok that was easy.

Grab the new release! 🚀

[2019-05-20 08:44] jwidar commented on #57
Wow, that was fast.
Thanks!

[2019-05-20 08:44] #57 closed, assigned to sboulema

[2019-06-14 08:13] nZeus opened #58 "Option to re-apply shortcuts"
I'm not sure how, but all the shortcuts for TGit were reset. Maybe I changed the keyboard scheme in VS from one to another.
I would like to have an option to re-apply (restore) TGit shortcuts.

[2019-06-18 10:57] sboulema commented on #58
Looks like it should be possible to do that :)

[How to programmaticaly create visual studio keyboard shortcut for VS operation](https://stackoverflow.com/questions/41164298/how-to-programmaticaly-create-visual-studio-keyboard-shortcut-for-vs-operation)

[2019-09-11 07:41] MartinL0815 opened #59 "VS2019 - Switching solutions disables TGIT"
If I open another solution from the VS2019 file menu TGIT disables all functions.
If I re-open the previous loaded solution, TGIT returns from completely disabled to enabled.

[2019-09-11 07:42] MartinL0815 opened #60 "How to change TGit menu place in VS2019"
Since using VS2019 the TGit menu is located in the Extensions main menu item.
How to get the TGit menu back as own main menu item?

[2019-09-11 07:44] sboulema commented on #60
Not possible unfortunately 😞. Menu location is now determined by VS.

[2019-09-16 09:31] MartinL0815 commented on #59
I was surprised to see, that seemly one specific solution does not allow "global" (solution-wide" git commands, but document-only commands!
What prevents in a specific solution, the global commands and allow document commands?

[2019-09-16 09:42] sboulema commented on #59
It tries to find the .git folder in the solution folder. It caches if it was able to find the folder for 30 seconds. So that might cause a problem while switching solutions.

[2019-09-20 10:58] Ordisoftware commented on #49
I have the same problem: icons are not drawn (sometime one or two are drawn) if I start directly a .sln file, while starting VS2017 alone works. Reseting the bar draws the icons if not drawn.

[2019-09-23 16:57] MartinL0815 commented on #59
I know now the difference between the "old" and this "new" branch.
It is created as worktree, has no ".git" folder, but a ".git" file.

Eventually … https://stackoverflow.com/questions/53796823/git-directory-in-git-worktree-not-a-directory … tells the needed things to enable the TGit commands in the worktree branch (not cloned).

[2019-09-23 16:59] MartinL0815 commented on #59
The "correct" .git folder is for this worktree branch in "..\master\.git\worktrees\PS-15.1"

And the .git file points with its content to it:

     gitdir: C:/Development/git/…/Master/.git/worktrees/PS-15.1

[2019-09-23 17:01] sboulema commented on #59
Thanks for the info! Very helpful. Should be ready to parse the .git file and use that info in the extension.

Will look into adding that in the next version :)

**Documentation:**
[Git Repository Layout](https://git-scm.com/docs/gitrepository-layout)

[2019-10-31 07:56] animha commented on #49
Same problem on VS2019

[2019-11-06 14:43] animha commented on #49
Bug is fixed after latest VS2019 update v. 16.3.8

UPDATE: after rebooting, the issue still exists. Sorry, I was too optimist.

[2019-11-06 18:11] KocourKuba commented on #49
I did not confirm. The issue still exists in VS2019.
![image](https://user-images.githubusercontent.com/33736293/68325231-46888500-00c9-11ea-88ba-4dc8920a2377.png)

[2019-11-08 23:22] KocourKuba opened #61 "Using incorrect repository after open other project."
After opening the project from another repository and press 'Log' button, TGit shows a log from the old repository. Required to wait a long time after loading the project or pressing the 'Log' button multiple times until TGit reloads repo or press the 'Commit' button.
Replicable on VS2013, 2017 and 2019

[2019-12-10 14:25] MartinL0815 commented on #59
Do you have a plan, when to publish a next version, fixing this issue, which you categorized as enhancement?
Thanks!

[2019-12-10 14:28] sboulema commented on #59
Sorry no plan yet. Really busy with personal live at the moment (my daughter was born ❤️), so hard to find time to work on the extension :(

So for now the best I can promise: It is on my todo list and will not forget about it!

[2019-12-12 09:40] sboulema commented on #59
Found some spare time at work, try the new release 🚀 !

https://github.com/sboulema/TGit/releases/tag/v4.15.69

[2020-01-06 14:10] MartinL0815 commented on #59
Oh wow, you found some spare time to get this issue resolved 👍 and I was from Dec. 16th out of office and unable to check this release. :(
Sadly the issue is not resolved, since the path to the repository gets build in a wrong way:

In the path of the `.git` file points to a directory, where the `gitdir` file is in, which itself contains the path to the original repository I work with.

So the nee

[2020-01-08 10:29] mefmund opened #62 "Icons are not visible when running as Administrator"
When i'm using "normal" user everything works fine and icons are visible, but when i switch to administrator.
I'm using Visual Studio Professional 2019
![image](https://user-images.githubusercontent.com/23142365/71970999-fe412c80-3209-11ea-9d8f-c3514971bac0.png)

[2020-01-09 14:11] sboulema commented on #59
Try the new release: https://github.com/sboulema/TGit/releases/tag/v4.15.72 🚀

Could you send me your gitdir file, can't find much about the format of the file content?
You can reach me at vsix@sboulema.nl

[2020-01-09 14:42] sboulema commented on #62
Sounds a lot like this issue: https://github.com/sboulema/TGit/issues/49

Unfortunately still haven't found a solution :(

[2020-01-10 08:59] MartinL0815 commented on #59
I tried the next version and it seems to work after an error message after opening initially the TGIT menu:

The `gitdir` is very simple, only containing the path in the first line and an empty new line:

`C:/Development/git/…/PS-15.1/.git` ([gitdir.txt](https://github.com/sboulema/TGit/files/4044751/gitdir.txt))

Thanks for your work to solve this issue!!! 👍

[2020-01-27 16:58] mkamoski opened #63 "Tgit menu not showing at all..."
Please help. The Tgit menu not showing at all... not under Extensions... not anywhere... but it does show as installed and enabled... Visual Studio 2019 16.4.2, Windows 10, etc... thoughts?  Please advise. Thanks. -- Mark Kamoski

[2020-01-27 17:19] mkamoski commented on #63
...Ok... now the Tgit IS there, right where it should be, under Extensions...

...what was my "fix" here?...

...start VS as Admin look for the Tgit menu item...close VS if the Tgit menu item is missing...
...start VS as NotAdmin look for the Tgit menu item...close VS if the Tgit menu item is missing...

...start VS as Admin look for the Tgit menu item...close VS if the Tgit menu item is missing..

[2020-01-27 17:19] #63 closed, assigned to nobody

[2020-01-27 18:12] mkamoski commented on #60
@MartinL0815 @sboulema -- It seems to me that there is a kind of workaround to the "how to get Tgit onto the main menu" question. In Visual Studio 2019, if one chooses > View, > Toolbars, > Tgit = checked... then one can click on the toolbar and choose "add or remove buttons", and even "customize", and then one can essentially get to "one click menu items on the main menu" which (it seems) may (ki

[2020-01-28 12:59] mkamoski opened #64 "Maybe show the Tgit version number in Settings and/or in an About menu?"

[2020-01-28 13:04] sboulema commented on #64
You can see the TGit version number here:

- Extensions -> Manage Extensions -> Installed -> TGit

Saves me a lot of work, instead of creating an about window

[2020-01-28 13:16] mkamoski commented on #64
Samir, that is perfect, and sorry as I forgot about that location for the version. Great job. Thanks. Mark Kamoski.

[2020-01-28 13:16] mkamoski commented on #64
All set. Thanks.

[2020-01-28 13:16] #64 closed, assigned to nobody

[2020-05-21 02:42] bodong1987 opened #65 "Add TGit's menus to the file tab context menu and the file content menu in solution explorer"
I think it will be more convenient to use
![image](https://user-images.githubusercontent.com/9072328/82517308-69ebbc80-9b4f-11ea-887d-ab354f2e9a3e.png)
![image](https://user-images.githubusercontent.com/9072328/82517363-7e2fb980-9b4f-11ea-93f6-792084ab228e.png)
I find some product have this feature:
1.VisualSVN for visual studio extensions:
       https://marketplace.visualstudio.com/items?itemNam

[2020-05-21 03:09] bodong1987 commented on #65
my ide is : Visual Studio 2019

[2020-12-31 12:05] #60 closed, assigned to sboulema

[2020-12-31 12:05] #62 closed, assigned to sboulema

[2020-12-31 12:07] #56 closed, assigned to sboulema

[2021-04-22 11:24] markostojkov opened #66 "Value cannot be null. parameter name path1"
When trying to open the init menu of tgit or try to start a release process I am faced with this error.
![image](https://user-images.githubusercontent.com/50018746/115706425-eb565b00-a36d-11eb-9e2f-65ea943790d8.png)

Tried updating visual studio 2019 and reinstalling the TGit extension but none of that worked.
Thanks upfront

[2021-07-13 05:48] jogibear9988 opened #67 "VS 2022?"
Any Plans for VS 2022 support?

[2021-07-26 09:45] sboulema commented on #67
Yes it is planned and work has started!

[2021-07-29 14:42] sboulema commented on #67
Grab the new release! 🚀

[2021-07-30 07:22] Ordisoftware opened #68 "TGIT v5.0.712 crashes on VS2017"
VS2017 15.9.37 closes immediately without a message when clicking on the _Commit_ button.

Downgrading to v4.16.74 makes it work again.

Windows 10 x64
Ryzen 7 5800X
MVNe FireCuda
GTX 970
DDR4 16GB

**INSTALLED EXTENSIONS**

[code]

[2021-07-30 11:41] Ordisoftware commented on #68
In fact it also sometimes crashes with TGit_4.16.74 installed today (but always with 5 as exposed) even without clicking a TGIT button, for example when running the current project.

I finally came back to TGit_4.14.68 used until yesterday with no issues.

[2021-07-30 14:47] sboulema commented on #68
Try the new release (5.0.716), hopefully that resolves the crash

[2021-07-30 15:19] Ordisoftware commented on #68
It does not crash anymore, thanks!

[2021-07-30 15:19] #68 closed, assigned to sboulema

[2021-08-01 08:41] jogibear9988 commented on #67
thx

[2021-08-01 08:41] #67 closed, assigned to nobody

[2021-08-01 14:03] MuratOzsoyler opened #69 "TGit does not appear on VS2017 menu"
I tried the actions mentioned in #63 but no avail.

CPU              Intel(R) Core(TM) i7-6650U CPU @ 2.20GHz   2.21 GHz
RAM	     16,0 GB
Architecture  64 bit işletim sistemi, x64 tabanlı işlemci
Edition           Windows 10 Pro
Version	      21H1

[2021-08-01 14:11] MuratOzsoyler opened #70 "GitFlow options does not appear on TGit menu on VS2019"
GitFlow is the work flow we are using so we need it urgently.

CPU:  Intel(R) Core(TM) i7-6650U CPU @ 2.20GHz   2.21 GHz
RAM: 16,0 GB
Architecture: 64 bit OS, x64 based
Edition: Windows 10 Pro
Version: 21H1
IDE: VS2019 Pro version 16.10.4

[2021-08-03 11:26] sboulema commented on #70
What is the output of `git config --get-regexp \"gitflow\"` when run in the repository root?

[2021-08-03 11:31] sboulema commented on #69
Grab the new release! 🚀

[2021-08-03 12:20] MuratOzsoyler commented on #69
Thank you very much with your quick action. Menu appears as it should be now.

By the way I thank you for this awesome extension. It very much ease our work flow.

[2021-08-03 12:20] #69 closed, assigned to nobody

[2021-08-03 19:32] Ordisoftware opened #71 "VS2017 TGIT v5.0.717 - CreateInstance failed for package [TGitPackage] {FRENCH}"
There was no error with v5.0.716, but after installing 717 and then reverting to 716, the error persists.

[code]

![image](https://user-images.githubusercontent.com/22332878/128074712-07937259-664a-4fe5-839e-edf1059074ff.png)

[2021-08-04 07:41] sboulema commented on #71
Please try the new release (5.0.718) :)

[2021-08-04 07:57] Ordisoftware commented on #71
Everything seems to be working fine, thanks.

[2021-08-04 07:57] #71 closed, assigned to nobody

[2021-08-16 08:50] hajokirchhoff opened #72 "VS2022 Preview 3: "fatal: this operation must be run in a work tree""
(thanks for adding VS2022 Preview Support)
I just installed TGit in VS2022. Installation went fine.
When I enabled the TGit Toobar, I immediately got
 TGit error
 fatal: this operation must be run in a work tree
in an endless loop. When I click "ok", the message closes and immediately pops up again.

BTW, my solution file is not in the root of the git repository, but in a subfolder instead. I am m

[2021-10-24 23:03] davkean opened #73 "GitFlowFinishHotfixCommand.BeforeQueryStatus causing Visual Studio responsiveness issues"
I'm from the Visual Studio performance team and our telemetry analysis is showing that TGit is causing Visual Studio responsiveness. Over the past 21 days, [GitFlowFinishHotfixCommand.BeforeQueryStatus](https://github.com/sboulema/TGit/blob/ce74efb5f44d3a5be96676a9a4c5a1cde818d25e/TGit/Commands/GitFlow/GitFlowFinishHotfixCommand.cs#L60-L62) has the following hits (this is sampled at 10% of users):

[2021-10-25 00:01] davkean commented on #73
It also looks like `GitFlowFinishReleaseCommand` is in the same situation.

[2021-10-26 12:40] sboulema commented on #73
Hello David,

I feel somewhat honored and ashamed at the same time that my extension has shown up on your radar.
The new release going out now, has these functions changed. I hope this will solve the performance issue for now.

Might I be so bold and ask a question... What those functions were doing is checking if a user is on the correct git branch to perform a certain action. Is their a better m

[2021-11-14 17:14] kirsan31 opened #74 "Diff with previous version not working"
On one solution I see this error:
![image](https://user-images.githubusercontent.com/17767561/141689609-c8bbeff1-b869-4ae9-95d2-a300c0318646.png)

On second solution it opens two empty files:
![image](https://user-images.githubusercontent.com/17767561/141690821-22966977-61c8-4ed9-96c2-38ccec452737.png)

From explorer TortoiseGit  menu working fine.

I found old closed similar issue https://github.

[2021-11-19 00:15] ddobrev commented on #65
Please add this, it would also partially solve the problem with submodules as you can show the repo the right-clicked file belongs to.

[2021-11-19 00:16] ddobrev commented on #23
I have a problem with this: TGit always activates TortoiseGit for the main repo and not for the one containing the currently edited file.

[2021-11-25 16:22] sboulema commented on #65
Grab the new release! 🚀

[2021-11-25 17:18] ddobrev commented on #65
Absolutely astounding! Thank you! It's context-aware for the right repo to show too!
Now if you could make the main menu context-aware too (it has the advantage of a short-cut), your add-in is actually going to be better than the one I used before, with vs 2019.

[2021-12-07 09:35] jogibear9988 commented on #49
I've also this problem most of the time...

[2021-12-07 09:35] jogibear9988 commented on #49
VS2022

[2022-01-28 15:16] MartinL0815 opened #75 "Save before executing git command doesn't work anymore in VS2022"
Since updating from VS2019 to VS2022, any changed file isn't saved automatically anymore with accessing a TGIT command, like commit, or diff.

So I need to save it manually, before e.g. starting to commit.

No big deal, only a convenience issue, but a regression.

[2022-04-05 14:13] ygoe opened #76 "Crash in VS 2022 after start, making it unusable"
I'm setting up my new environment in Visual Studio 2022, still in the preview version. As soon as I install this extension, I cannot use Visual Studio anymore. After opening the main window with no code, a moment later it freezes and then disappears with no trace. Disabling this extension fixes this reliably. All the other extensions run fine, but this alone crashes it in a way that isn't handled

[2022-05-11 00:37] lukamicoder commented on #76
I have the same issue: after updating Visual Studio 2022 to 17.2 visual studio would crash with this error:

`Application: devenv.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.Runtime.InteropServices.COMException
   at System.Runtime.InteropServices.Marshal.ThrowExceptionForHRInternal(Int32, IntPtr)
   at Community.V

[2022-05-11 06:59] ygoe commented on #76
@lukamicoder Thanks for the log. Looks like [this call to `VS.Solutions.GetCurrentSolutionAsync()`](https://github.com/sboulema/TGit/blob/main/TGit/Helpers/FileHelper.cs#L36) could use a try/catch handler around it.

[2022-05-18 16:35] madskristensen commented on #76
Can this be Closed if it was fixed by https://github.com/sboulema/TGit/commit/2d97bfb70d5a852a968f87576532f02141a02c0e?

Also, we're seeing crash data come in from Visual Studio users. It would be great with a new release of the extension containing this fix.

[2022-05-18 16:58] sboulema commented on #76
I got an error uploading to the marketplace :(

Haven't had the time to look into it. Something about supporting vs2022 in the same vsix as older versions. Bit afraid I have to split the vsix now...

[2022-05-18 17:01] madskristensen commented on #76
That's an issue only on the CLI publishing side. They are fixing that as we speak. But you can upload from the Marketplace website without that error showing

[2022-05-18 17:49] sboulema commented on #76
The new version has been uploaded to the marketplace!

[2022-05-18 17:53] madskristensen commented on #76
Thank you so much!!

[2022-05-19 01:30] MelchiorGaspar commented on #76
is there a way to manually update this extension as I cannot successfully load Visual Studios long enough to install the update?
EDIT:
nvm I just download the vsix file from your release page...
hope that works... ;-)

[2022-05-19 01:43] MelchiorGaspar commented on #76
VS 2022 Community ed. complained it was already installed... some how... even though the updater errored out...
while trying to install TGit v5.2.5 from within VS..... I managed to get it loaded finally uninstalled and reinstalled it ...
VS seems to be loading successfully now.. thx for the fix.

[2022-05-26 06:46] Ordisoftware commented on #49
I found a trick that works every time because resetting the toolbar that worked in VS2017 doesn't work in VS2022: disable TGit, close VS, enable TGit, icons are there again for a while but eventually disappear again at after a few days to a few weeks I don't know yet and it seems to be linked either to swapping between solutions or to the installation of other plugins which could explain the trick

[2022-05-31 16:20] MartinL0815 commented on #75
Dear @sboulema,
You just released 5.2.5.
What's with this issue?

[2022-05-31 16:24] MartinL0815 commented on #75
Sorry, forgot to elaborate, why I would like to have this issue fixed, why it is now a bigger issue, then in the time of reporting.

I need explicitly to save all documents/files before triggering a git command in TGIT, like "Show changes", "Show Diff", since the files are not saved before executing the commands.

This caused already some mistakes by forgetting to save the desired file or all file

[2022-05-31 16:40] sboulema commented on #75
I removed the feature because of troubles with vs2022 compatibility. Will re-implement and see if it works better now...

[2022-05-31 16:49] #76 closed, assigned to sboulema

[2022-05-31 17:28] sboulema commented on #75
Related to #68

[2022-06-01 18:24] #73 closed, assigned to sboulema

[2022-06-01 19:11] sboulema commented on #75
Grab the new release! 🚀

It has a new option to enable saving before any Git operation :)

[2022-08-03 13:15] Dschaehn commented on #59
I think the solution is even simpler, you can just check for the .git file as you do it for the .git directory, see #77

I dont' have much experience with git (we just switched to it), but with the fix from above my TortoiseGit works well for worktrees. I tested it with TortoiseGit 2.13.0.1 and git version 2.37.1.windows.1.

[2022-09-17 12:40] sboulema commented on #59
Thanks for the PR!